---
layout: base
title: Publikationen
language: de
---
  <!-- ======= Navbar ======= -->
      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/de/" class="nav-link scrollto"><i class="bx bx-arrow-back"></i> <span>Zurück</span></a></li>
          <li><a href="#breadcrumbs" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          {% for section in site.data.publications %}
          {% assign title_class = section.section | downcase | replace:' ','-' %}
          {% if title_class == 'working-papers' %}
          <li><a href="#{{title_class}}" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>{{section.section}}</span></a></li>
          {% else %}
          <li><a href="#{{title_class}}" class="nav-link scrollto"><i class="bx bi-chevron-right"></i> <span>{{section.section}}</span></a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>{{page.title}}</h2>
          <ol>
            <li><a href="/de/">Home</a></li>
            <li>{{page.title}}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->


    <!-- ======= Intro Section ======= -->
    <section id="home" class="home">
      <div class="container">

        <div class="section-title">
          <p>Ich veröffentliche Aufsätze in international renommierten Fachzeitschriften, Konferenz- und Sammelbänden, sowie Magazinen. Sie finden meine Veröffentlichungen auch auf <a href="https://scholar.google.de/citations?user=H2zblJ0AAAAJ"><i class='bx bx-link-external'></i> Google Scholar</a> oder bei <a href="https://www.researchgate.net/profile/Joschka-Huellmann-2"><i class='bx bx-link-external'></i> Researchgate</a>.
        </div>

      </div>
    </section><!-- End Intro Section -->

    {% comment %} Compute the maximum index for a numbered list {% endcomment %}
    {% assign paper_index = 0 %}
    {% for section in site.data.publications %}
      {% assign papers_length = section.papers | size %}
      {% assign paper_index = paper_index | plus: papers_length %}
    {% endfor %}
    {% for section in site.data.publications %}
    {% assign title_class = section.section | downcase | replace:' ','-' %}
    <!-- ======= {{section.section}} Section ======= -->
    <section id="{{title_class}}" class="{{title_class}}{% cycle ' section-bg', '' %}">
      <div class="container">

        <div class="section-title">
          <h2>{{section.section}}</h2>
        </div>

        <div class="row">
          <div class="col-lg-12" data-aos="fade-up">
          {% for pub in section.papers %}
            <p>
              <b>{{ paper_index }}.</b> {{ pub.text | replace: 'Hüllmann, J. A.', '<b>Hüllmann, J. A.</b>'}}
                  {% if pub.links.view %}
                    <a href="{{pub.links.view}}">(view)</a>
                  {% endif %}
                  {% if pub.links.download %}
                    <a href="{{site.baseurl}}/publications/{{pub.links.download}}">(download)</a>
                  {% endif %}
                  {% if pub.links.presentation %}
                    <a href="{{site.baseurl}}/publications/{{pub.links.presentation}}">(presentation)</a>
                  {% endif %}
                  {% if pub.links.english %}
                    <a href="{{site.baseurl}}/publications/{{pub.links.english}}">(english)</a>
                  {% endif %}
                  {% if pub.links.code %}
                    <a href="{{pub.links.code}}">(code)</a>
                  {% endif %}
            </p>
            {% assign paper_index = paper_index | minus: 1 %}
          {% endfor %}
          </div>
        </div>

      </div>
    </section><!-- End {{section.section}} Section -->
    {% endfor %}

  </main><!-- End #main -->
