---
layout: base
title: Press and Invited Talks
language: gb
---
      <!-- ======= Navbar ======= -->
      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/" class="nav-link scrollto"><i class="bx bx-arrow-back"></i> <span>Go back</span></a></li>
          <li><a href="#breadcrumbs" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          {% for section in site.data.press %}
          {% assign title_class = section.section | downcase | replace:' ','-' %}
          <li><a href="#{{title_class}}" class="nav-link scrollto"><i class="bx bi-chevron-right"></i> <span>{{section.section}}</span></a></li>
          {% endfor %}
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Press, Awards, &amp; Invited Talks</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li>Press, Awards, &amp; Invited Talks</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->


    <!-- ======= Intro Section ======= -->
    <section id="home" class="home">
      <div class="container">

        <div class="section-title">
          <p>I speak at conferences and industry events. Sometimes, my research is covered in the press (e.g., Heise Online, Süddeutsche Zeitung, OM-Online) or being awarded.</p>
        </div>

      </div>
    </section><!-- End Intro Section -->



    {% comment %} Compute the maximum index for a numbered list {% endcomment %}
    {% assign item_index = 0 %}
    {% for section in site.data.press %}
      {% assign items_length = section.items | size %}
      {% assign item_index = item_index | plus: items_length %}
    {% endfor %}
    {% for section in site.data.press %}
    {% assign title_class = section.section | downcase | replace:' ','-' %}
    <!-- ======= {{section.section}} Section ======= -->
    <section id="{{title_class}}" class="{{title_class}}{% cycle ' section-bg', '' %}">
      <div class="container">

        <div class="section-title">
          <h2>{{section.section}}</h2>
        </div>

        <div class="row">
          <div class="col-lg-12" data-aos="fade-up">
          {% for pr in section.items %}
            <p>
              <b>{{ item_index }}.</b> {{ pr.text }}
                  {% if pr.links.view %}
                    <a href="{{pr.links.view}}">(view)</a>
                  {% endif %}
                  {% if pr.links.download %}
                    <a href="{{pr.links.download}}">(download)</a>
                  {% endif %}
                  {% if pr.links.presentation %}
                    <a href="{{pr.links.presentation}}">(presentation)</a>
                  {% endif %}
                  {% if pr.links.english %}
                    <a href="{{pr.links.english}}">(english)</a>
                  {% endif %}
                  {% if pr.links.code %}
                    <a href="{{pr.links.code}}">(code)</a>
                  {% endif %}
            </p>
            {% assign item_index = item_index | minus: 1 %}
          {% endfor %}
          </div>
        </div>

      </div>
    </section><!-- End {{section.section}} Section -->
    {% endfor %}

  </main><!-- End #main -->
