<h2>Researcher & Writer.</h2>
<p>
<center>
    <a href="/people-analytics-wiki/">People Analytics</a>
    •
    Algorithmic Management
    •
    Future of Work
    •
    <a href="/esn-analysis/">Social Networks</a>
    •
    Digital Traces
</center>
</p>

<p>
My name is Joschka Hüllmann and I am currently working as an assistant professor for the department of <a href="https://www.utwente.nl/en/bms/organisation/departments-institutes-new/department-hbe/">High-tech Business and Entrepreneurship (HBE)</a> at the University of Twente. I am also affiliated with the <a href="https://www.ercis.org/">ERCIS</a> competence center <a href="https://www.smarter-work.de/">Smarter Work</a> at the <a href="https://www.wi.uni-muenster.de">Westfälische Wilhelms-University Münster</a>.
</p>

<p>
My research spans three areas. First, I contribute to the discourse on the changing nature of work and organizing, theorizing how technology facilitates and mediates novel work practices. Second, I work on bridging the gap between computational methods and process theorizing, especially advancing the theory-driven analysis of digital traces data. Third, I use econometric methods to assess the broader impact of society’s algorithmification—for example, the dialectics between data-driven business innovation and employee or consumer rights.</p>

<p>
Besides writing academic articles, I am interested in esports, maths, coding, popular science, edutainment, short stories, and the craft of writing. As such, I contribute to pop-journals, publish articles on my blog, and push my commits to open-source projects.
</p>

<p>
  <a href="/publications/">» List of Publications</a>
</p>

<p>
  <a href="/press/">» Press and Talks</a>
</p>
