<h2>About me</h2>
<p>
My name is Joschka Huellmann and I am currently enrolled in the Master of Information Systems programme at the Westfälische Wilhelms-University Münster.
</p>

<p>
I am interested in modern computer technologies, especially the development of .NET and mobile applications. In my free time I support the German CDU party and I am the chairman of the Junge Union Cappeln.
</p>

<hr />

<ul class="fa-ul main-list">
  <!--
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="cv.html">Curriculum Vitae</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-wordpress fa-lg main-list-item-icon"></span>
    <a href="">My blog</a>
  </li>
  -->
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <script type="text/javascript">
     <!--
     document.write(rot('<n uers="znvygb:vasb@wbfpuxn-uhryyznaa.arg">Znvy zr!</n>', 13));
      //-->
     </script>
     <noscript>
     <a class="mailimg" href="{{ page.baseurl }}{{ site.compass.mailimg }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.mailimg }}')"></a>
     </noscript>
  </li>
  <li class="main-list-item">
    <span class="fa fa-facebook fa-lg main-list-item-icon"></span>
    <a href="https://www.facebook.com/joschka.hue">Facebook</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-xing fa-lg main-list-item-icon"></span>
    <a href="https://www.xing.com/profile/Joschka_Huellmann">Xing</a>
  </li>
</ul>
