<h2>About me</h2>
<p>
My name is Joschka Huellmann and I am currently enrolled in the Master of Information Systems programme at the <a href="http://www.uni-muenster.de">Westfälische Wilhelms-University Münster</a>.
</p>

<p>
At the same time I develop innovative software solutions for the ÖPNV industry, while working for <a href="http://amcongmbh.de/">AMCON GmbH</a> in Cloppenburg.
</p>

<p>
I am interested in modern computer technologies, especially the development of .NET and mobile applications. In my free time I support the <a href="http://www.cdu-cappeln.de/">German CDU party</a> and I am the chairman of the Junge Union Cappeln.
</p>

<hr />

<noscript>(Please enable Javascript to see Mail.)</noscript>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <script type="text/javascript">
     <!--
     document.write(rot('<n uers="znvygb:vasb@wbfpuxn-uhryyznaa.arg">Znvy zr!</n>', 13));
      //-->
     </script>
     <noscript>
     <a href="#">Mail me!</a>
     </noscript>
  </li>
  <li class="main-list-item">
    <span class="fa fa-xing fa-lg main-list-item-icon"></span>
    <a href="https://www.xing.com/profile/Joschka_Huellmann">Xing</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-facebook fa-lg main-list-item-icon"></span>
    <a href="https://www.facebook.com/joschka.hue">Facebook</a>
  </li>
    <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://de.linkedin.com/in/joschka-hüllmann-69199393">LinkedIn</a>
  </li>
</ul>
