<noscript>(Please enable Javascript to see Mail.)</noscript>
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <script type="text/javascript">
     <!--
     document.write(rot('<n uers="znvygb:vasb@wbfpuxn-uhryyznaa.arg">Znvy</n>', 13));
      //-->
     </script>
     <noscript>
     <a href="#">Mail</a>
     </noscript>
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
  </li>
  <li class="main-list-item">
    <a href="https://www.xing.com/profile/Joschka_Huellmann">Xing</a>
    <span class="fa fa-xing fa-lg main-list-item-icon"></span>
  </li>
  <li class="main-list-item">
    <a href="https://de.linkedin.com/in/joschka-hüllmann-69199393">LinkedIn</a>
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
  </li>
  <li class="main-list-item">
    <a href="https://twitter.com/johuellm">Twitter</a>
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
  </li>
  <li class="main-list-item">
    <a href="https://scholar.google.de/citations?user=H2zblJ0AAAAJ">Scholar</a>
    <span class="fa fa-google fa-lg main-list-item-icon"></span>
  </li>
  <li class="main-list-item">
    <a href="https://github.com/johuellm">GitHub</a>
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
  </li>
  <li class="main-list-item">
    <a href="https://www.researchgate.net/profile/Joschka-Huellmann-2">ResearchGate</a>
    <span class="fa fa-user-circle fa-lg main-list-item-icon"></span>
  </li>
  <li class="main-list-item">
    <a href="https://www.imwi.uos.de/team/mitarbeiterdetails.html?&module=TemplatePersondetails&target=14869&source=42354&config_id=42fe2f072ef77ae9761f0b050234909e&range_id=3566507592e99a061a1be4deb26f9b6e&username=jhuellmann&group_id=6a7fe7d41e31e27fa5962e6bd04598d8">UOS</a>
    <span class="fa fa-university fa-lg main-list-item-icon"></span>
  </li>
</ul>
